.flex-container > .blocos{
    background-color: white;
    border: 2px solid black;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}

/*FLEX-DIRECTION*/
.flex-direction{
    text-align: center;
    border: 2px solid black;
    margin: 2%;
}

.flex-container > .coluna{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    margin: 2%;
    align-items: center;
    justify-content: center;
}

.flex-container > .coluna-reversa{
    display: flex;
    flex-direction: column-reverse;
    border: 2px solid black;
    margin: 2%;
    align-items: center;
    justify-content: center;
}

.flex-container > .linha{
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    margin: 2%;
    align-items: center;
    justify-content: center;
}

.flex-container > .linha-reversa{
    display: flex;
    flex-direction: row-reverse;
    border: 2px solid black;
    margin: 2%;
    align-items: center;
    justify-content: center;
}

/*FLEX-WRAP*/
.flex-wrap{
    text-align: center;
    border: 2px solid black;
    margin: 2%;
}

.flex-container > .wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 2px solid black;
    margin: 2%;
}

.flex-container > .no-wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 2px solid black;
    margin: 2%;
}

.flex-container > .wrap-reverse{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    border: 2px solid black;
    margin: 2%;
}

/*FLEX FLOW*/
.flex-flow{
    text-align: center;
    border: 2px solid black;
    margin: 2%;
}

.flex-container > .flow{
    display: flex;
    flex-flow: row wrap;
    border: 2px solid black;
    margin: 2%;
}

/*JUSTIFY-CONTENT*/
.justify-content{
    text-align: center;
    border: 2px solid black;
    margin: 2%;
}

.flex-container > .center{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border: 2px solid black;
    margin: 2%;
}

.flex-container > .flex-start{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    border: 2px solid black;
    margin: 2%;
}


.flex-container > .flex-end{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    border: 2px solid black;
    margin: 2%;
}

.flex-container > .space-around{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border: 2px solid black;
    margin: 2%;
}

.flex-container > .space-between{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border: 2px solid black;
    margin: 2%;
}
